.parent {
  position: relative; 
  /* width: 300px; */
    width: 100%;

  height: 200px;
  background: #eee;
}
.navbar{
        background-color:rgb(2, 61, 17);

}
.nv{
    background-color:rgb(2, 61, 17);
}

a{
    color: white;
}