


.nav-link{
  font-size: 20px !important;

}
.nav-link:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }
  
.contacth1{
background-color: brown;
/* border-left: solid 10px;
border-right: solid 10px; */


}

.parent {
  position: relative; 
  /* width: 300px; */
    width: 100%;

  height: 200px;
  background: #eee;
}
.navbar{
        background-color:rgb(2, 61, 17);

}
.nv{
    background-color:rgb(2, 61, 17);
}

a{
    color: white;
}

@media (max-width: 576px) {
  .card {
height: 300px !important;  
}
.m1-div{
  height: 200px !important;  

  background-color: transparent !important;
   overflow: hidden;
}
.m-div{
height: 360px !important;
}
.mobaboutres{
height: 500px !important;
}
.mobres{
  height: 300px !important;
}

.m-img{
  height: 300px !important;
  width: 100%;
}
}




