
 body {
      min-height: 100vh;
    }

    #pay{
   color: white;
    }

    .booking-card {
      border-radius: 15px;
      /* border-bottom-left-radius: 15px;
      border-top-left-radius: 15px; */
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    }

    .form-control,
    .form-select {
      border-radius: 10px;
    }

    .btn-custom {
      border-radius: 10px;
      font-weight: bold;
      background-color: brown;
      color: white;
    }

.btn-custom:hover {
  background: linear-gradient(to right, brown, rgb(252, 252, 252),brown);
  color: brown;
}


    .nav-link{
  font-size: 20px !important;

}
.nav-link:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }


  .overlay-text {
    width: 100%;
    height: 100%;
  background: rgba(0, 0, 0, 0.651);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}


.img-fluid{
  height: 700px;
  width: 100%;
    border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
}