/* .container-fluid{
    background-image: url("https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg?cs=srgb&dl=automobile-car-clouds-707046.jpg&fm=jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 760px;
    margin-bottom: 40px;
    padding-top: 30px;
align-items: center;

} */

.container{
    width: 700px;
height: 650px;
padding-bottom: 30px;
background-color: rgba(222, 184, 135, 0.253); border-radius: 20px;
}

.btn{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;

}