.container-fluid{
    background-image: url("https://images.pexels.com/photos/63764/pexels-photo-63764.jpeg?cs=srgb&dl=car-cars-lamborghini-aventador-63764.jpg&fm=jpg");
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 660px;
}