.nav-link{
  font-size: 20px !important;

}
.nav-link:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }

.contacth1{
background-color: brown;
/* border-left: solid 10px;
border-right: solid 10px; */


}

  .imgs{
height: 200px;
border-radius: 20px;
margin-bottom: 10px;
  }


.p1{
    font-size: 20px;
}

.fa-brands, .fa-solid{
    color: brown;
}

.col1{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.col2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}