.nav-link{
  font-size: 20px !important;

}
.nav-link:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }

  /* form{
    position:fixed;
    background-repeat: no-repeat;
    z-index: 5000;
    background-image: url("images/contact\ us\ new\ \(1\).png");
  } */


.contacth1{
background-color: brown;
/* border-left: solid 10px;
border-right: solid 10px; */


}

  .imgs{
height: 200px;
border-radius: 20px;
margin-bottom: 10px;
  }


.p1{
    font-size: 20px;
}

.fa-brands, .fa-solid{
    color: brown;
}

.col1{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: brown;
}

.col2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.btn1 {
    background: linear-gradient(45deg, #fffefe, #fffefe);
    color: #fff;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 18px;
    transition: 0.3s;
  }

  .btn1:hover {
    background: linear-gradient(45deg, #ffffff, #8b0000);
    color: #ffffff;
  }