.navbar {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;           
  background: #333;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  z-index: 999;         
}


img{
    padding: 0px !important;
}


.container-fluid{
    background-image: url("travel/trvel\ bg.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
 background-attachment: scroll;
    width: 100%;
    margin: 0;
    padding: 0;
   /* height: 1700px; */

}


/* body{
    background-image: url("travel/trvel\ bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
background-size: cover;
} */

.img-wrap {
    position: relative;
    display: inline-block;
}

.img-wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.753),  
        rgba(0, 0, 0, 0) 50%
        
    );
    pointer-events: none;
}





@media (min-width: 576px) {
    .col-lg-12 {
        margin-left:  200px;
    }
    /* .row2{
    margin-left: 190px;
    margin-right: 160px;
} */

}

@media (min-width: 992px) {
    .col-lg-12 {
        margin-left:  200px;
        max-width: fit-content;
    }
   .row2{
    margin-left: 190px;
    margin-right: 160px;
}

}

