.nav-link{
  font-size: 20px !important;

}
li:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }
/* for traveler services */
  .car-card {
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .car-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

  .car-card img {
    height: 230px;
    object-fit: cover;
    
  }

  .car-title {
    font-family: "Playfair Display", serif;
    color: #8b0000;
    border-bottom: 2px solid #ddd;
    padding: 10px !important;
  }

  .car i {
    color: #ff0000;
    margin-right: 6px;
  }

  .price {
    font-size: 22px;
    font-weight: bold;
    font-family:playfair;
    color: #ff0000;
  }

  .book-btn {
    background: linear-gradient(45deg, #8b0000, #d32f2f);
    color: #fff;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 18px;
    transition: 0.3s;
  }

  .book-btn:hover {
    background: linear-gradient(45deg, #d32f2f, #8b0000);
    color: #fff;
  }


/* another part */
img{
    padding: 0px !important;

}



body{
    background-image: 
     /* linear-gradient(rgba(93, 93, 255, 0.5), rgb(255 255 0 / 0.5)), */
     url("banner/travel\ bg\ \(1200\ x\ 500\ px\)\ \(1200\ x\ 1000\ px\).png");
    background-position: center;
background-origin: padding-box;

    width: 100%;
background-repeat: repeat;
background-size:1400px;
}

.img-wrap {
    
    position: relative;
    display: inline-block;
}


.img-wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.753),  
        rgba(0, 0, 0, 0) 50%
        
    );
    pointer-events: none;
}





@media (min-width: 576px) {
    .col-lg-12 {
        /* margin-left:  200px; */
    }
    /* .row2{
    margin-left: 190px;
    margin-right: 160px;
} */

}

@media (min-width: 992px) {
    .col-lg-12 {
        /* margin-left:  200px; */
        max-width: fit-content;
        
    }
   .row2{
    /* margin-left: 190px;
    margin-right: 160px; */
}

}

.cardtour:hover {
    transform:translate(-2%, -2%) !important;
    transition: transform 0.5s ease, box-shadow 0.3s ease;

  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
}


.card {

  background: #fff;
  border-radius: 12px;

  border: 1px solid #ddd;
  box-shadow:
    0 4px 50px 0px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card1:hover {
    transform:translate(-5%, -10%) !important;
    transition: transform 0.5s ease, box-shadow 0.3s ease;

  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.card-big:hover{
  transform:scale(1.05) !important;
    transition: transform 0.5s ease, box-shadow 0.3s ease;

  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.card:hover {
    transform:translate(5%, 10%);
        transition: transform 0.5s ease, box-shadow 0.3s ease;

  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
}


a{
    color:white;
    text-decoration: none;
}
