.nav-link{
  font-size: 20px !important;

}
.nav-link:hover{
  font-weight: bolder;
   transition: all 0.3s ease;
transform: scale(1.03);
  }

.services-header {
  color: #FF6F61;
  margin-top: 50px;
  margin-bottom: 20px;
}

.services-text {
  font-style: italic;
  color: #555;
  max-width: 800px;
  margin: auto;
}

.service-card {
  background-color:  brown;
  /* background: linear-gradient(135deg, #f0f8ff, #e0f7fa); */
  border-radius: 20px;
  padding: 30px 20px;
  height: 250px;
  transition: all 0.4s ease;
  text-align: center;
  color: white;
    transition: 1s ease-in-out;

}


.service-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  /* background: linear-gradient(135deg,  #eb4030,  #a12115); */
  color: white;
}

.service-card i {
  transition: transform 0.3s ease;
}

.service-card:hover i {
  transform: scale(1.3);
}


.service-col-6{
  /* height: 550px; */
  width: 100%;
  height: 600px;
  /* border-radius: 10px; */
}

h1,h5{
  font-family: playfair;
}



/* .icon-circle{
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  padding: 10px;
} */