.float-btn {
    position: fixed;
    bottom: 10%;
    right: 20px;


    background-color: 0 4px 10px rgb(29, 161, 3);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index:1000;
}